@use "./base" as *;
@use "./colors" as *;
@use "./abstracts" as *;
@use "./pages" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

nav {
  @include dim(100vw, 100vh);
  @include flexbox(column, center, center);

  .nav-title {
    color: $apple-blue;
    padding: 1rem;
    margin-bottom: 4rem;
    // @include border-direction(bottom, 1px, $apple-blue);
  }

  .formlist-container {
    @include dim(60%, 0);
    @include flexbox(row, center, space-around);

    @media only screen and (max-width: 1400px) {
      flex-direction: column;
      height: 30%;
    }

    a {
      transition: all 0.5s ease;
      font-weight: bold;
      color: $black-5;

      &:hover {
        transform: translateY(-3px);
        color: $apple-blue;
      }
    }
  }
}
