@use "../colors" as *;
@use "../abstracts" as *;

input {
  background-color: transparent;
}

.form-page {
  @include dim(100vw, 100vh);
  @include flexbox(column, center, center);

  // padding-top: 3rem;

  font-family: "Noto Sans";
  color: $black-3;
  background-color: #f6fafd;
  //   background-color: $white-4;

  .form-container {
    @include box-shadow;
    border: transparent;
    box-shadow: #7070704d 0 0 15px;

    // @include dim(32rem, 48rem);
    @include flexbox(column, center, flex-start);

    width: 32rem;

    background-color: $white-5;

    padding: 2rem;

    border-radius: 1rem;

    .form-label-container {
      width: 100%;
      padding-bottom: 4rem;
      margin-bottom: 1rem;

      p {
        font-size: 2.4rem;
        font-weight: 700;
        color: $apple-blue;
      }
    }

    .form-element {
      @include dim(100%, 8rem);
      @include flexbox(column, flex-start, flex-start);

      // background-color: red;

      position: relative;
      margin-bottom: 2rem;

      .toggle-password {
        @include dim(24px, 24px);

        position: absolute;
        top: 35%;
        right: 0.4rem;

        cursor: pointer;
      }

      label {
        @include flexbox(row, flex-start, flex-start);
        @include dim(100%, 25%);
        color: $apple-blue;

        font-weight: bold;
      }

      .valid-label {
        color: $apple-green;
      }

      .invalid-label {
        color: $apple-red;
      }

      input {
        @include dim(100%, 35%);
        @include border-direction(bottom, 1px, $white-1);

        font-size: 0.9rem;
        border-radius: 5px 5px 0 0;
        padding-left: 1rem;

        // &:hover,
        // :active,
        // :focus {
        //   background-color: $white-4;
        // }

        &:hover:invalid,
        :active:invalid,
        :focus:invalid {
          background-color: lighten($apple-red, 39%);
          @include border-direction(bottom, 1px, $apple-red);
        }

        &:hover:valid,
        :active:valid,
        :focus:valid {
          background-color: lighten($apple-green, 45%);
          @include border-direction(bottom, 1px, $apple-green);
        }

        &:invalid {
          background-color: lighten($apple-red, 39%);
          @include border-direction(bottom, 1px, $apple-red);
        }

        &:valid {
          background-color: lighten($apple-green, 48%);
          @include border-direction(bottom, 1px, $apple-green);
        }

        &:invalid:placeholder-shown {
          background-color: $white-5;
          @include border-direction(bottom, 1px, $white-1);
        }
      }

      .input-info {
        @include flexbox(row, center, flex-start);
        @include dim(100%, 40%);

        font-size: 0.8rem;
        color: $white-1;
      }
    }

    #error-container {
      visibility: hidden;

      background-color: lighten($apple-red, 30%);
      @include dim(100%, 3rem);
      @include flexbox(column, flex-start, center);
      @include border-direction(left, 5px, $apple-red);
      padding-left: 2rem;

      p {
        color: $apple-red;
        font-weight: bold;
        text-align: center;
      }
    }

    .form-button-container {
      @include dim(100%, 3rem);
      margin-top: 3rem;

      button {
        @include dim-complete;
        @include border-radius;

        transition: all 0.5s ease;
        // @include box-shadow;
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 5px;
        background-color: $apple-green;
        color: white;

        font-weight: bold;
        // text-align: right;
        // padding-right: 1rem;

        &:hover {
          background-color: lighten($apple-green, 10%);
          box-shadow: none;
        }

        &:disabled {
          background-color: $white-3;
          box-shadow: none;
        }
      }
    }
  }
}
