@use "../colors" as *;
@use "../abstracts" as *;

input {
  background-color: transparent;
}

.form-page {
  @include dim(100vw, 100vh);
  @include flexbox(column, center, center);

  font-family: "Noto Sans";
  color: $black-3;
  background-color: #f6fafd;
  //   background-color: $white-4;

  .form-container {
    @include box-shadow;
    box-shadow: #7070704d 0 0 15px;

    // @include dim(32rem, 48rem);
    @include flexbox(column, center, flex-start);

    width: 32rem;

    background-color: $white-5;

    padding: 2rem;

    border-radius: 1rem;

    .form-label-container {
      width: 100%;
      padding-bottom: 4rem;
      margin-bottom: 1rem;

      p {
        font-size: 2.4rem;
        font-weight: 700;
        color: $apple-blue;
      }
      //   background-color: red;
    }

    .form-element {
      //   background-color: yellow;
      @include dim(100%, 6rem);
      @include flexbox(column, flex-start, flex-start);

      margin-bottom: 2rem;

      label {
        @include flexbox(row, flex-start, flex-start);
        @include dim(100%, 30%);
        color: $apple-blue;

        font-weight: bold;
      }

      input {
        @include dim(100%, 40%);
        @include border-direction(bottom, 1px, $white-1);
        border-radius: 5px 5px 0 0;
        padding-left: 1rem;

        &:hover,
        :active,
        :focus {
          background-color: $white-4;
        }
      }

      .input-info {
        @include flexbox(row, center, flex-start);
        @include dim(100%, 30%);

        font-size: 0.8rem;
        color: $white-1;
      }
    }

    .form-button-container {
      @include dim(100%, 3rem);
      margin-top: 4rem;

      button {
        @include dim-complete;
        @include border-radius;

        transition: all 0.5s ease;
        // @include box-shadow;
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px 5px;
        background-color: $apple-blue;
        color: white;

        &:hover {
          background-color: lighten($apple-blue, 10%);
          box-shadow: none;
        }
      }
    }
  }
}
